@use './components/vcard.scss';
@use './components/vcheckbox.scss';
@use './components/vbutton.scss';
@use './components/vinput.scss';
@use './components/vloader';

@layer components {
  .page-title {
    @apply font-bold opacity-90 text-primary uppercase;
    font-size: 36px;
  }
}
