@use './components/_vcard.scss';
@use './components/_vcheckbox.scss';
@use './components/_vbutton.scss';
@use './components/_vinput.scss';
@use './components/_vdropdown';
@use "./components/_vloader";
@use "./components/_vicon";
@use "./components/_vmodal";
@use "./components/_vswitch";
@use "./components/_vtabs";
@use "./components/_vtoast";
@use './components/_vaccordion';

@layer components {
  .page-title {
    @apply font-bold opacity-90 text-primary uppercase;
    font-size: 36px;
  }
}
