/**
 * GT America Standard Font Family
 * Custom font integration for the application
 * All weights use the same font-family name with different font-weight values
 * Using WOFF2 format for optimal performance (~30% smaller than OTF)
 */

/* Thin (100) */
@font-face {
  font-family: 'GT America Standard';
  src: url('../fonts/GT-America-Standard-Thin-Trial.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Standard';
  src: url('../fonts/GT-America-Standard-Thin-Italic-Trial.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: 'GT America Standard';
  src: url('../fonts/GT-America-Standard-Light-Trial.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Standard';
  src: url('../fonts/GT-America-Standard-Light-Italic-Trial.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular (400) */
@font-face {
  font-family: 'GT America Standard';
  src: url('../fonts/GT-America-Standard-Regular-Trial.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Standard';
  src: url('../fonts/GT-America-Standard-Regular-Italic-Trial.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: 'GT America Standard';
  src: url('../fonts/GT-America-Standard-Medium-Trial.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Standard';
  src: url('../fonts/GT-America-Standard-Medium-Italic-Trial.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: 'GT America Standard';
  src: url('../fonts/GT-America-Standard-Bold-Trial.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Standard';
  src: url('../fonts/GT-America-Standard-Bold-Italic-Trial.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Black (900) */
@font-face {
  font-family: 'GT America Standard';
  src: url('../fonts/GT-America-Standard-Black-Trial.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Standard';
  src: url('../fonts/GT-America-Standard-Black-Italic-Trial.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

